.planning-container-2 {
  text-align: center;
}

.planning-container-2>h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #0E1F51;
}

.planning-container-2>h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 20px;
  color: #FF3E54;
}

.planning-cards {
  /* display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  flex-flow: row-reverse; */
  padding: 50px;
  display: grid;
   grid-template-columns: repeat(auto-fill, minmax(263px, 1fr)); 
  grid-gap: 20px;
  
}
@media only screen and (max-width: 768px) {
  .planning-cards {
    padding: 10px;
    display: grid;
     /* grid-template-columns: repeat(auto-fill, minmax(263px, 1fr));  */
    grid-gap: 10px;
    
  }
}

.planning-card {
  width: 263px;
  height: 334px;
  background: #c31515;
  border-radius: 10px;
}

.planning-card-count {
  width: 55px;
  height: 50px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 50px;
  color: #0E1F51;
  opacity: 0.1;
}