.home-container {
  height: calc(100vh - 80px);
  margin-bottom: 40px;
}
.home-child-conatiner {
  display: flex;
  justify-content: space-evenly;
  color: #ff3e54;
  margin-top: 50px;
}
.basic-button {
  width: 165px;
  height: 50px;
  background: #ff3e54;
  border-radius: 5px;
  color: #fff;
  border: none;
  outline: none;
}

.background-img{
  padding: 10px;
}
.heading1 {
  line-height: 20px;
}
.heading2 {
  font-weight: 700;
font-size: 48px;
line-height: 58px;
color: #0E1F51;
}

@media only screen and (max-width: 768px) {
  .home-child-conatiner {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 4px;
  }
}