.contact-container {
  margin-top: 50px;
  padding: 50px;
  background: #0e1f51;
  border-radius: 5px;
}
.contact-page-row{
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.contact-form:nth-child(1) {
  background: #fff;
  padding: 50px;
  border-radius: 10px;
  flex:0.7
}
.contact-form:nth-child(2) {
  background: #fff;
  padding: 50px;
  border-radius: 10px;
  flex:0.3

}
@media only screen and (max-width: 900px) {
  .contact-page-row{
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .contact-form:nth-child(1) {
    background: #fff;
    padding: 16px;
    border-radius: 10px;
  }
  .contact-form:nth-child(2) {
    background: #fff;
    padding: 16px;
    border-radius: 10px;
  
  }
}
@media only screen and (max-width: 768px) {
  .contact-container {
    margin-top: 20px;
    padding: 10px;
  }
  .contact-form {
    padding: 30px 20px
  }
}
.contact-container > div {
  text-align: center;
}
.contact-container > div > h2 {
  color: #ff3e54;
  font-weight: 700;
  font-size: 24px;
  line-height: 20px;
}
.contact-container > div > h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: #fff;
}
.contact-form > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-right: auto;
  margin-left: auto;
}
.contact-form > div > input {
  padding: 15px;
  background: #f7f7f7;

  border: none;
  outline: none;
  border-radius: 10px;
}
.contact-form > div > textarea {
  padding: 15px;
  background: #f7f7f7;
  border: none;
  outline: none;
  border-radius: 10px;
}
.contact-form > div > button {
  width: 126px;
  height: 50px;
  background-color: #ff3e54;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
}
.information-card {
  background-color: #fff;
  padding: 10px;
  
}